<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name=viewport content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>360提醒</title>
<script>
var wid = '';
function setWid(v) {
    wid = v;
}
</script>
<link rel="stylesheet" href="http://static.qhimg.com/!c957e3af/reset.css">
<link rel="stylesheet" href="/resource/css/alarm/index.css">
</head>
<body>
<div id="pages">
  <!-- 首页 Begin -->
  <div id="page-home" class="page">
    <div class="hd">
        <a href="javascript:void(0)" class="home"><span class="btn"></span></a>
        <h2>全部</h2>
    </div>
    <div class="bd">
      <!-- 轮播图 Begin -->
      <div class="carousel">
        <img src="/resource/img/alarm/train.png">
        <h3>离线抢购火车票</h3>
      </div>
      <!-- 轮播图 End -->

      <!-- 列表 Begin -->
      <ul id="index-cat-list" class="cat-list">
      <script id="tpl-cat-item" type="text/x-tpl">
      <% for (var i = 0, len = categoryCollection.length, item; i < len; i++) {
           item = categoryCollection.at(i).attributes;
      %>
        <li class="list-item cat-item" data-id="<%- item.id %>">
          <div class="list-icon cat-icon"><img src="<%= item.icon %>"></div>
          <div class="list-action cat-action"></div>
          <h3 class="cat-title"><%- item.name %></h3>
          <p class="cat-desc"><%- item.title %></p>
        </li>
      <% } %>
      </script>
      </ul>
      <!-- 列表 End -->
    </div>
    <div class="ft"></div>
  </div>
  <!-- 首页 End -->

  <!-- 列表页 Begin -->
  <div id="page-item-list" class="page">
    <div class="hd">
        <a href="javascript:void(0)" class="back"><span class="btn"></span></a>
        <h2></h2>
    </div>
    <div class="bd">
      <!-- 列表 Begin -->
      <ul id="item-list">
      <script id="tpl-item-item" type="text/x-tpl">
      <% for (var i = 0, len = itemCollection.length, item; i < len; i++) {
           item = itemCollection.at(i).attributes;
      %>
        <li class="list-item item-item<% if (item.isRemind) { %> item-item-subscribed<% } %>" data-id="<%- item.id %>">
          <div class="list-icon item-img"><img src="<%= item.coverImg %>"></div>
          <a href="javascript:void(0)" class="list-action item-action"><% if (item.isRemind) { %>退订<%} else {%>订阅<%}%></a>
          <h3 class="item-title"><%- item.name %></h3>
          <p class="item-desc"><%- item.desc %></p>
        </li>
      <% } %>
        <div class="dialog">
          <h3>你确定要删除这个提示吗？</h3>
          <div class="confirm">
            <span class="change-yes">是</span>
            <span class="change-no">否</span>
          </div>
        </div>
        <div class="mask">
        </div>
      </script>
      </ul>
      <!-- 列表 End -->
    </div>
    <div class="ft"></div>
  </div>
  <!-- 列表页 End -->

  <!-- 详情页 Begin -->
  <div id="page-detail" class="page">
    <div class="hd">
        <a href="javascript:void(0)" class="back"><span class="btn"></span></a>
        <h2>添加提醒</h2>
    </div>
    <div class="bd">
      <!-- 大图 Begin -->
      <!--div class="poster">
        <img>
        <div class="poster-desc">
          <div class="poster-action"></div>
          <h3>绝命毒师第四季</h3>
          <p>搜狐 每周日6:00 更新</p>
        </div>
      </div-->
      <!-- 大图 End -->

      <!-- 小说详情 Begin -->
      <div class="poster novel-poster g-clearfix">
      <script id="tpl-poster" type="text/x-tpl">
        <div class="g-clearfix">
          <img src="<%= data.coverImg %>">
          <div class="novel-meta">
            <h3><%- data.name %></h3>
            <dl class="le-dl g-clearfix">
              <dt>作者：</dt><dd>王文凯</dd>
              <dt>类型：</dt><dd>科幻</dd>
              <dt>状态：</dt><dd>连载中</dd>
            </dl>
          </div>
        </div>
        <p class="poster-desc">简介 : <%- data.title %></p>
        <div class="poster-action">+</div>
        </script>
      </div>
      <!-- 小说详情 End -->

      <!-- 列表 Begin -->
      <ul id="alarm-list">
      <script id="tpl-alarm-item" type="text/x-tpl">
      <% for (var i = 0, len = alarmCollection.length, item; i < len; i++) {
           item = alarmCollection.at(i).attributes;
      %>
        <li class="list-item alarm-item" data-url="<%- item.readurl %>">
          <div class="list-icon alarm-icon"></div>
          <div class="list-action alarm-action">阅读</div>
          <h3 class="alarm-time"><%- tool.timeFormat(item.timestamp) %></h3>
          <p class="alarm-title"><%- item.content %></p>
        </li>
      <% } %>
      </script>
      </ul>
      <!-- 列表 End -->
    </div>
    <div class="ft"></div>
  </div>
  <!-- 详情页 End -->

  <!-- 个人页 Begin -->
  <div id="my-page" class="page">
    <div class="hd">
         <a href="javascript:void(0)" class="back"><span class="btn"></span></a>
        <h2>我的提醒</h2>
    </div>
    <div class="bd">

      <!-- 列表 Begin -->
      <div class="le-tabview">
          <ul class="le-tabs">
            <li class="active border subscription"><a href="javascript:void(0)">当前提醒</a></li>
            <li class="subscribed"><a href="javascript:void(0)">历史提醒</a></li>
          </ul>
          <div id="subscription-list">
              <script id="tpl-subscription-item" type="text/x-tpl">
                <ul>
                <% for (var i = 0, len = subscriptionCollection.length, item, uplist; i < len; i++) {
                     item = subscriptionCollection.at(i).attributes;
                     uplist = item.uplist[0];
                %>
                  <li class="list-item subscription-item" data-url="<%- item.readurl %>" data-id="<%- item.id %>">
                    <div class="list-icon subscription-icon"></div>
                    <h3 class="subscription-time"><%- tool.timeFormat(uplist.timestamp) %></h3>
                    <div class="list-icon subscription-img"><img src="<%= item.coverImg %>"></div>
                    <a href="javascript:void(0)" class="list-action subscription-action">退订</a>
                    <h3 class="subscription-title"><%- uplist.content %></h3>
                  </li>
                <% } %>
                </ul>
                <div class="dialog">
                  <h3>你确定要删除这个提示吗？</h3>
                  <div class="confirm">
                    <span class="delete-yes">是</span>
                    <span class="delete-no">否</span>
                  </div>
                </div>
                <div class="mask">
                </div>
              </script>
          </div>
          <div id="subscribed-list">
              <script id="tpl-subscribed-item" type="text/x-tpl">
                 <div class="subscribed-line"></div>
                 <table>
                    <tr class="header">
                      <td class="subscribed-time"><div class="subscribed-date">提醒时间</div></td>
                      <td class="subscribed-content"><div class="subscribed-detail">内容</div></td>
                    </tr>
                  <% for (var i = 0, len = subscribedCollection.length, item, uplist; i < len; i++) {
                       item = subscribedCollection.at(i).attributes;
                  %>
                    <tr>
                      <td class="subscribed-time"><div class="subscribed-date"><%- tool.timeFormat(item.time)%></div></td>
                      <td class="subscribed-content"><div class="subscribed-detail"><%- item.content%></div></td>
                    </tr>
                  <% } %>
                 </table>
              </script>
          </div>
      </div>
      <!-- 列表 End -->
    </div>
    <div class="ft"></div>
  </div>
  <!-- 个人页 End -->
</div>
<script src="/resource/js/lib/require.js" data-main="/resource/js/alarm/index-main"></script>
</body>
</html>
